name: Java CI with Maven
on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
#
- name: clean with Maven  
      run: mvn -B package --file pom.xml
	- name: Maven Compile
      run: mvn -B compile --file pom.xml
	 - name: Build with Maven
      run: mvn -B package --file pom.xml      # If we use same runner
  Compile:
    needs: Setup
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
      - name: Maven Compile
        run: mvn -B compile --file pom.xml
	UnitTesting:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      packages: write
          
    steps:
    - run: echo should run unit tests
    - uses: actions/checkout@v4
    - name: Maven test
      run: mvn -B test --file pom.xml
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
       files: target/surefire-reports/*.xml
 CodeCoverage:
    runs-on: ubuntu-latest
    needs: UnitTesting
    permissions:
      checks: write
      contents: read
      packages: write
        
    steps:
    - run: echo should run code coverage
    - uses: actions/checkout@v4
    - name: Maven CC
      run: mvn -X org.jacoco:jacoco-maven-plugin:report
  War:
    runs-on: ubuntu-latest
    needs: CodeCoverage
    permissions:
      checks: write
      contents: read
      packages: write
        
    steps:
    - run: echo should run war
    - uses: actions/checkout@v4
    - name: Maven war
      run: mvn -X war:war
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: webapp
        path: target/*.war
